<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jquery 사용 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <meta charset="UTF-8">
    <title>geolocation으로 마커 표시하기</title>
</head>
<body>
  <p style="margin-top:-12px">
     <b>으에에</b>참고
  </p>
  <div id="map" style="width : 80%; height : 500px;"></div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e443c812207cc3e160a9117574e67b76&libraries=services"></script>

  <p></p>

  <div class="box">
      <input type="text"
             id="searchAddress"
             name="search"
             style="width : 30%; height : 25px;"
             placeholder="주소를 입력하세요"/>

      <button type="button" id="searchBtn" style="height : 30px;">Search</button>
  </div>
  <script>
      var mapContainer = document.getElementById('map'),
          mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level : 5
          };
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 현재위치 표시하기
      if (navigator.geolocation) {

        navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude,
                lon = position.coords.longitude;

            var locPosition = new kakao.maps.LatLng(lat, lon),
                message = '<div style="padding:5px;">'+locPosition+'</div>';

            displayMarker(locPosition, message);
        });
      } else{

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할 수 없어요'

        displayMarker(locPosition, message);
      }


        // 지도 위에 마커 생성 함수
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
             });

            // 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);
        }


      var geocoder = new kakao.maps.services.Geocoder();


      var callback = function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            console.log(result);
        }
      };

      geocoder.addressSearch('인천시', callback);




  </script>
  <pre></pre>
</body>
</html>