<!DOCTYPE html>
<html>
<head>
<!-- jquery 사용 -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<pre>[현재 위치 및 장소 검색]</pre>
<body>
		<table>
			<tr>
				<td>주소</td>
				<td><input type="text" name="detailAddress" id="address"></td>
				<td><button type="button" id="searchBtn">Search</button></td>
			</tr>

		</table>
		<p></p>
		<div id="map" style="width:100%;height:350px;"></div>

	<!-- kakao API -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e443c812207cc3e160a9117574e67b76&libraries=services"></script>
	<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div
	    mapOption = {
	        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	        level: 5 // 지도의 확대 레벨
	    };

	    // 지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 지도 위에 마커 생성 함수--------------------------------------
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
             });

            // 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);
        }
        //-------------------------------------------------------

		// 현재위치 표시하기
      if (navigator.geolocation) {

        navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude,
                lon = position.coords.longitude;

            var locPosition = new kakao.maps.LatLng(lat, lon),
                message = '<div style="padding:15px;">현재 위치</div>';
                //message = '<div style="padding:15px;">'+locPosition+'</div>';

            displayMarker(locPosition, message);
        });
      } else{

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할 수 없어요'

        displayMarker(locPosition, message);
      }

	//----------------------------------------------------------

	$('#searchBtn').click(function(){
		// 버튼을 click했을때


		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch($('#address').val(), function(result, status) {

		    // 정상적으로 검색이 완료됐으면
		     if (status === kakao.maps.services.Status.OK) {
		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 추출한 좌표를 통해 도로명 주소 추출
		        let lat = result[0].y;
		        let lng = result[0].x;
		        getAddr(lat,lng);
		        function getAddr(lat,lng){
		            let geocoder = new kakao.maps.services.Geocoder();

		            let coord = new kakao.maps.LatLng(lat, lng);
		            let callback = function(result, status) {
		                if (status === kakao.maps.services.Status.OK) {
		                	// 추출한 도로명 주소를 해당 input의 value값으로 적용
		                    $('#address').val(result[0].road_address.address_name);
		                }
		            }
		            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
		        }



		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		             content: '<div style="width:150px;text-align:center;padding:6px 0;">address</div>'
		            // content: callback
		        });
		        infowindow.open(map, marker);

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    }
		});
	});

	//-----------------------------------------------------------
	// 엔터로 입력 기능 구현
<!--    document.getElementById("address")-->
<!--        .addEventListener("keyup", function(e) {-->
<!--            if (e.keyCode === 13) {-->
<!--                document.getElementById("searchBtn").click();-->
<!--            }-->
<!--        });-->

    $(document).ready(function() {
        $("#address").keyup(function(event) {
            if (event.which === 13) {
                $("#searchBtn").click();
            }
        });
    });

	</script>
</body>
</html>